{% extends 'layout/app.html' %}

{% block title %} Profile {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="profile-content mb-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">{% translate "social-profile" %}</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>{% translate "social-menu-title" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% translate "social-profile" %}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div>
                <aside class="profile-sider">
                    <div class="card mb-25">
                        <div class="card-body text-center pt-sm-30 pb-sm-0  px-25 pb-0">
                            <div class="account-profile">
                                <div class="ap-nameAddress pb-3 pt-1">
                                    <h5 class="ap-nameAddress__title">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <p class="ap-nameAddress__subTitle fs-14 m-0">{{ user }}</p>
                                    <p class="ap-nameAddress__subTitle fs-14 m-0">
                                        <img src="{% static 'img/svg/map-pin.svg' %}" alt="map-pin" class="svg">London, England
                                    </p>
                                </div>
                                <div class="ap-button button-group d-flex justify-content-center flex-wrap mb-20">
                                    <button type="button" class="border text-capitalize px-25 color-gray transparent shadow2 radius-md" data-bs-toggle="modal" data-bs-target="#password-modal">
                                        <img class="svg" src="{% static 'img/svg/edit.svg' %}" alt="mail">change password</button>

                                    {% if not user.userprofile.isVerified %}
                                        <button class="btn btn-primary btn-default btn-squared text-capitalize  px-25" data-bs-toggle="modal" data-bs-target="#verify-modal"><img src="{% static 'img/svg/check.svg' %}" alt="user-plus" class="svg">
                                            Verify
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-25">
                        <div class="user-bio border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-30 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    User Bio
                                </div>
                            </div>
                            <div class="card-body pt-md-1 pt-0">
                                <div class="user-bio__content">
                                    <p class="m-0">Nam malesuada dolor tellus pretium amet was hendrerit facilisi id
                                        vitae enim
                                        sed ornare
                                        there suspendisse sed orci neque ac sed aliquet risus faucibus in pretium
                                        molestie nisl
                                        tempor quis odio habitant.</p>
                                </div>
                            </div>
                        </div>
                        <div class="user-info border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    Contact info
                                </div>
                            </div>
                            <div class="card-body pt-md-1 pt-0">
                                <div class="user-content-info">
                                    <p class="user-content-info__item">
                                        <img class="svg" src="{% static 'img/svg/mail.svg' %}" alt="mail"></button>{{ user.email }}
                                    </p>
                                    <p class="user-content-info__item">
                                        <img src="{% static 'img/svg/phone.svg' %}" alt="phone" class="svg">+44 (0161) 347
                                        8854
                                    </p>
                                    <p class="user-content-info__item mb-0">
                                        <img src="{% static 'img/svg/globe.svg' %}" alt="globe" class="svg">www.example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="user-skils border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    Skills
                                </div>
                            </div>
                            <div class="card-body pt-md-1 pt-0">
                                <ul class="user-skils-parent">
                                    <li class="user-skils-parent__item">
                                        <a href="#">UI/UX</a>
                                    </li>
                                    <li class="user-skils-parent__item">
                                        <a href="#">Branding</a>
                                    </li>
                                    <li class="user-skils-parent__item">
                                        <a href="#">product design</a>
                                    </li>
                                    <li class="user-skils-parent__item">
                                        <a href="#">Application</a>
                                    </li>
                                    <li class="user-skils-parent__item mb-0">
                                        <a href="#">web design</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="db-social border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    Social Profiles
                                </div>
                            </div>
                            <div class="card-body pt-md-1 pt-0">
                                <ul class="db-social-parent mb-0">
                                    <li class="db-social-parent__item">
                                        <a class="color-facebook hover-facebook wh-44 fs-22" href="#">
                                            <i class="lab la-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="db-social-parent__item">
                                        <a class="color-twitter hover-twitter wh-44 fs-22" href="#">
                                            <i class="lab la-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="db-social-parent__item">
                                        <a class="color-ruby hover-ruby  wh-44 fs-22" href="#">
                                            <i class="las la-basketball-ball"></i>
                                        </a>
                                    </li>
                                    <li class="db-social-parent__item">
                                        <a class="color-instagram hover-instagram wh-44 fs-22" href="#">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<div class="modal-basic modal fade show" id="password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">
                <h6 class="modal-title">Change Password</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'img/svg/x.svg' %}" alt="x" class="svg">
                </button>
            </div>
            <form id="change-pass-form" action="{% url 'application:change_password' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card card-Vertical card-default card-md">
                        <div class="card-body">
                            <div id="change-pass-error" class="alert-icon-big alert alert-danger alert-dismissible fade show" role="alert" hidden>
                                <div class="alert-icon">
                                    <img src="{% static 'img/svg/layers.svg' %}" alt="layers" class="svg">
                                </div>
                                <div class="alert-content">
                                    <h6 class='alert-heading'>Invalid</h6>
                                    <p>Passwords do not match. Please try again.</p>
                                    <button id="close-change-pass-error" type="button" class="btn-close text-capitalize" aria-label="Close">
                                        <img src="{% static 'img/svg/x.svg' %}" alt="x" class="svg rony" aria-hidden="true">
                                    </button>
                                </div>
                            </div>

                            <div class="Vertical-form">
                                <div class="form-group">
                                    <label for="new-password" class=" color-dark fs-14 fw-500 align-center mb-10">Password</label>
                                    <div class="with-icon">
                                        <span class="las la-lock"></span>
                                        <input type="password" name="new_password" class="form-control ih-medium ip-gray radius-xs b-light" id="new-password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password" class=" color-dark fs-14 fw-500 align-center mb-10">New Password</label>
                                    <div class="with-icon">
                                        <span class="las la-lock"></span>
                                        <input type="password" name="confirm_password" class="form-control ih-medium ip-gray radius-xs b-light" id="confirm-password">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-basic modal fade show" id="verify-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">
                <h6 class="modal-title">Verify Status</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'img/svg/x.svg' %}" alt="x" class="svg">
                </button>
            </div>
            <form id="verify-form" action="{% url 'application:verify' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card card-Vertical card-default card-md">
                        <div class="card-body">
                            <div class="Vertical-form">
                                <div class="form-group">
                                    <label for="proof-file" class=" color-dark fs-14 fw-500 align-center mb-10">Proof of Income</label>
                                    <div class="with-icon">
                                        <input type="file" id="proof-file" name="proof_of_income">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="government-file" class=" color-dark fs-14 fw-500 align-center mb-10">Government ID</label>
                                    <div class="with-icon">
                                        <input type="file" id="government-file" name="government_id">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}