{% load i18n %}
{% load static %}
{% with request.resolver_match.url_name as path_name %}
<div class="sidebar__menu-group">
    <ul class="sidebar_nav">
        <!-- <li>
            <a href="{% url 'dashboard:changelog' %}" class="{% if path_name == 'changelog' %}active{% endif %}">
                <span class="nav-icon uil uil-arrow-growth"></span>
                <span class="menu-text">{% translate "changelog-menu-title" %}</span>
                <span class="badge badge-info-10 menuItem rounded-pill">1.0.0</span>
            </a>
        </li> -->
        <li class="menu-title mt-30">
            <span>Application</span>
        </li>
        <li>
            <a href="{% url 'feature:basic' %}" class="{% if path_name == 'basic' %}active{% endif %}">
                <span class="nav-icon la la-money-check"></span>
                <span class="menu-text">Cash Assistance</span>
            </a>
        </li>
        {% if path_name == 'demo_five' %}
            <div class="card sidebar__feature shadow-none bg-transparent border-0 py-sm-50 px-sm-35 text-center">
                <div class="px-15 mb-sm-35 mb-20">
                    <img src="{% static 'img/sidebar-feature.png' %}" alt="book">
                </div>
                <h3>Get More Feature by Upgrading</h3>
                <button type="button" class="btn btn-primary inline-flex mt-sm-35 mt-20">
                    Go Premium
                </button>
            </div>
        {% endif %}
    </ul>
</div>
{% endwith %}